
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        <a class="btn sonata-action-element" href="{{ path('vince_t_admin_configuration_homepage') }}">
            <i class="icon-cog"></i>
            {{ "Return to configuration"|trans({}, 'VinceTAdminConfigurationBundle') }}
        </a>
    </div>
{% endblock %}